.App {
  text-align: center;
}

/* For mobile phones: */
.imposter {
  color: #05386b;
  font-family: 'Arbutus Slab', serif;
  width: 90%;
}
a {
  color: goldenrod;
}
input[type=text] {
  width: 90%;
  padding: 5px 10px;
  margin: 10px 0px;
  display: block;
  float: left;
  box-sizing: border-box;
  border: 2px solid #05386b;
  border-radius: 5px;  
}
button {
  padding: 5px 10px;
  display: inline;
  background-color: goldenrod;
  border-radius: 5px;  
  border: 0px;
}
#subscribe {
  padding-top: 5%; 
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .imposter {
    color: #05386b;
    font-family: 'Arbutus Slab', serif;
    width: 50%;
  }
}
.imposter p {
  text-align: left;
  
}
.imposter h1{
  /* font-family: 'Codystar', cursive; */
  font-family: 'Arbutus Slab', serif;
  font-size: 2em;
  text-align: left;
  margin: 0 auto;
}
.imposter h3, h4, h5 {
  text-align: left;
  margin: 0 auto;
  font-style: italic;
}
.imposter h6 {
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

.outer {
  background-color:#e0eecc;
  width:40vw; /* You can define it by % also */
  height:40vw; /* You can define it by % also */
  position:relative;

  border-radius: 50%;
  }
  
  .inner {
  background-color:#edf5e1;
  top: 25%; left:25%; /* of the container */
  width:50%; /* of the container */
  height:50%; /* of the container */
  position: relative;
  /* border-radius: 0%; */
  }

.App-header {
  background-color: #5cdb95;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.one {
  background-color: #8ee4af;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.two {
  background-color: #edf5e1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.three {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
